<section>
  <div class="title">רשימת קניות</div>
  <section>
    <div class="totalTxt">סה"כ 6 מוצרים</div>
    <div class="mainWrapper">
      <div>
        <input
          type="text"
          placeholder="הוסף מוצר חדש"
          [(ngModel)]="newItemName"
          class="form-control form-select-sm"
        />
      </div>
      <div>
        <select
          [(ngModel)]="selectedCategoryId"
          class="form-select form-select-sm"
        >
          <option value="0">קטגוריה</option>
          <option *ngFor="let category of categoryList" [ngValue]="category.id">
            {{ category.nameHeb }}
          </option>
        </select>
      </div>
      <div>
        <button (click)="onClick()" class="btn btn-outline-info btn-sm">
          הוסף
        </button>
      </div>
    </div>
  </section>
  <hr />
  <div class="description">יש לאסוף מוצרים אלו במחלקות המתאימות</div>
  <div class="categoryListContainer">
    <div *ngFor="let ci of categoriesWithItem" class="singleCategoryWrapper">
      <category-items [category]="ci"></category-items>
    </div>
  </div>
</section>
