section {
  direction: rtl;
  text-align: center;
}
.mainWrapper {
  display: flex;
  margin: 5px auto;
}
.mainWrapper div {
  padding: 10px;
}
.description {
  text-align: center;
  font: 25px bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #99d9ea;
}
.categoryListContainer {
  display: flex;
  margin: 10px auto;
}
