<section>
  <div class="title">רשימת קניות</div>
  <section>
    <div class="totalTxt">סה"כ 6 מוצרים</div>
    <div class="mainWrapper">
      <div>
        <input
          type="text"
          placeholder="הוסף מוצר חדש"
          [(ngModel)]="newItemName"
          required
          class="form-control form-select-sm"
        />
        <div *ngIf="newItemName === ''" class="alert">
          <div *ngIf="newItemName === ''" style="text-align: right">
            שדה חובה
          </div>
        </div>
      </div>
      <div>
        <select
          [(ngModel)]="selectedCategoryId"
          class="form-select form-select-sm"
        >
          <option value="0">קטגוריה</option>
          <option *ngFor="let category of categoryList" [ngValue]="category.id">
            {{ category.nameHeb }}
          </option>
        </select>
        <div *ngIf="selectedCategoryId === 0" class="alert">
          <div *ngIf="selectedCategoryId === 0" style="text-align: right">
            יש לבחור קטגוריה
          </div>
        </div>
      </div>
      <div>
        <button
          (click)="onClick()"
          class="btn btn-outline-info btn-sm"
          [disabled]="newItemName === '' && selectedCategoryId === 0"
        >
          הוסף
        </button>
      </div>
    </div>
  </section>
  <hr />
  <div class="description">יש לאסוף מוצרים אלו במחלקות המתאימות</div>
  <div class="categoryListContainer">
    <div *ngFor="let ci of categoriesWithItem" class="singleCategoryWrapper">
      <category-items [category]="ci"></category-items>
    </div>
  </div>
</section>
